*{
    box-sizing: border-box;
    
    
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    font-family: 'Poppins';
    scroll-behavior:smooth;
}
/*common*/
.main_content{
    width: 1170px;
    margin: auto;
    max-width: calc(100% - 48px);
}



a{
    text-decoration: none;
}

.btn{
    display: inline-block ;
    min-width: 118px;
    color: #FFF;
    padding: 0 10px;
    line-height: 50px ;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    border-radius: 24.5px;
    background: #171100;    
}

.line_clamp{
    display: -webkit-box;
    -webkit-line-clamp: var(--line_clamp,1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line_clamp.line_2{
    --line_clamp: 2 ;
}

:root{
    --primari-color: #FFB900;
   
}

/* Heder */

.header.sticky{
    position: sticky;
    top: -28px;
    z-index: 1;
    background-color: #FFFCF4;
}

.header .body{
    display: flex  ;
    align-items: center;
    justify-content: center;
    padding: 36px 0 8px ;
}

.nav{
    margin-left: auto;
    margin-right: 60px;
}

.nav ul{
    display: flex;
    margin-left: auto;
}

.nav a {
    color: #5F5B53;
    font-size: 1.6rem;
    font-weight: 400; 
    padding: 8px 21px;
    position: relative;
}

.nav a:hover,
.nav li.active a{
    color: #171100;
    text-shadow: 1px 0 0 currentColor;
}

.nav li.active a::after{
    display: inline-block ;
    position: absolute;
    left: 21px;
    bottom: 8px;
    content: "";
    width: 12px;
    height: 2px;
    border-radius: 10px;
    background-color: #171100;
}

.action .btn-signup{
    min-width: 144px;
    
}
/* hero */
.hero{
    background: #FFFCF4;
    padding: 64px 0 64px;
    
}

.hero_content{
    display: flex;
   
    
}

.media_content_left{
    width: 48%;
    position: relative;
    
}

/* css img content left */
.img_content_left img{
    width: 470px;
    height: 685px;
    border-radius: 20px;
}

.img_block_contentleft{
    position: absolute;
    right: 0;
    bottom: 48px;
    width: 270px;
    padding: 28px 63px 28px 24px ;
    background: #FFF;
     border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.item+.item{
    margin-top: 20px;  
}

.img_block_contentleft .icon_title{
    margin-left: 16px;
}

.item .icon_title p{
    color: #5F5B53;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
}

.item .icon_title strong{
    color: #171100;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
}


/* img block */

.item{
    display: flex;
   justify-content: center;
   align-items: center;
    
}


/* content hero right */
.content_hero_right{
    width: 52% ;
    
    
}

.body_conent_hero_right{
   margin-left: 130px;
    padding-top: 64px;
}
 .content_hero_right .body_conent_hero_right .title{
    width: 470px;
    color: #171100;
    font-family: Sen;
    font-size: 58px;
    font-style: normal;
    font-weight: 700;
    line-height: 68px; /* 117.241% */
    letter-spacing: -1.16px
}

.content_hero_right .body_conent_hero_right .decs{
    color: #5F5B53;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.66; /* 166.667% */
    margin-top: 22px;
}

.button_hero_right{
    display: flex;
    align-items: center ;
    margin: 38px 0 48px;
}

.button_hero_right .btn_hero_right{
    min-width: 180px;
    line-height: 64px;
    background-color: var(--primari-color);
    border-radius: 999px;

}

.watch_video{
    border: none;
    background: #FFF;
    display: flex;
    align-items: center;
    margin-left: 28px;

}

.watch_video .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background: #FFF;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.07);

}

.watch_video span{
    margin-left: 14px;
    color: #171100;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;

}

.hero .stats{
    margin: 8px 0 0 0px;
}

.stats strong{
    color: #171100;
    font-family: Sen;
    font-size: 4.4rem;
     font-weight: 700;
    line-height: 54px; /* 122.727% */
}
/* popular  */
.popular{
    padding: 65px 0;
    margin-top: 135px;
}

.poppular_top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.infor .heading{
    color: #171100;
    font-family: Sen;
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1.26; /* 126.316% */
    letter-spacing: -0.76px;

}
 .popular .infor .decs{
    margin-top: 16px;
    width: 458px;
    color: #5F5B53;
    font-family: Poppins;
    font-size: 1,8rem;
    font-weight: 400;
    line-height: 30px; 
}
/* button control */
.poppular_top .control{
    display: flex;
    gap: 18px;
}
.control_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    color: var(--primari-color);
    border: 1px solid var(--primari-color);
}

.control .control_btn:hover{
    color: #fff ;
    background: var(--primari-color);
} 
/* popular list */
.list{
    margin-top: 55px;
    display: flex;
    gap: 30px;
}

.list .item_card .thumb{
    width: calc(100% + 2px);
    height: 278px;
    object-fit: cover;
    border-radius: 12px 12px 0 0 ;
    vertical-align: bottom  ;
    margin: -1px;
}

.list .item_card{
    flex: 1;
    border-radius: 12px;
    border: 1px solid #E2DFDA;
    background: #FFF;
}

 .list .item_card .body_card{
    padding: 16px 22px 22px;
}

.list .item_card:hover{
    box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
    border: 1px solid white;
}

/* css body list card */
.list .item_card .head,
.poppular_footer,
.list .item_card .rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list .item_card .head h3{
    color: #171100;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.66; /* 166.667% */
}

.list .item_card .rating span{
    color: var(--primari-color);
    display: inline-block;
    
}

.list .body_card .decs{
    margin-top: 6px;
    color: #5F5B53;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.85;
}
.list .body_card .poppular_footer{
    margin-top: 12px;
}

.list .poppular_footer .rice{
    color: #171100;
    font-family: 'Poppins';
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66;
}

.list .poppular_footer button{
    border: none;
}

.list .poppular_footer button:hover{
    background-color: var(--primari-color);
}
/* =====Feedback===== */
.feedback{
    margin-top: 135px;
    padding: 96px 0;
    background: #2E2100;;
}

.feedback_list{
    display: flex;
    overflow: hidden;
    
}
.feedback .feedback_item{
    display: flex;
    flex-shrink: 0;
    width: 100%;
    
}

.feedback .content{
    width: 66% ;
    margin-left: auto;
}
.feedback .feedback_item .avatar{
    width: 72px;
    height: 72px;
    border-radius: 50%;
    object-fit: cover;
}

.feedback .infor .title{
    margin-top: 18px;
    color: #F7F7F7;
    font-family: Sen;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.41; /* 141.667% */
}

.feedback .infor .decs{
    margin-top: 4px;
    color: #BFBCB2;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.85; 

}
.feedback .infor .dots{
    display: flex;
    margin-top: 28px;

}

.feedback .infor .dot{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #634700;
    margin-right: 6px;
}
.feedback .content blockquote{
    color: #FFF;
    font-family: Poppins;
    font-size: 2.6rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.53; 
    margin-left: 30px;
 }